body {
  background-color: #dfdfdf;
}

header {
  position: relative;
  height: 60vh;
  width: 100%;
  background-image: url(./assets/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  text-align: center;
}

header::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(152, 66, 211, 0.33);
}

header h1,
header form {
  position: relative;
}

header h1 {
  font-size: 6rem;
  color: #ffffff;
  margin-top: 3rem;
}

header video {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  opacity: 0.2;
}

.price {
  font-size: 1.5rem;
  text-align: center;
}

.emphased {
  border-left: 8px solid #1a8754;
  padding-left: 8px;
}
